.filtro{
    padding: 1rem;
}
.menu-filtro-checkbox{
    display: none;
}
#menu-filtro:checked ~ .menu-filtro-container{
    display: none;
}
.menu-filtro-container{
    align-items: center;
    justify-content:center;
    column-gap: 2rem;
    margin-bottom: 2rem;
}
.filtro-pesquisa-container{
    flex-direction: column;
    row-gap: .5rem;
}
.filtro-pesquisa{
    border-radius: 10px;
    font-size: 1.5rem;
    padding: .3em;
    text-align: center;
}
.filtro-pesquisa::placeholder{
    text-align: center;
}
.filtro-btn{
    background-color: none;
    border-radius: 10px;
    cursor: pointer;
    
}